.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;

  padding: 32px;

  h1 { margin-bottom: 48px; }

  form {
    display: flex;
    flex-direction: column;

    width: 100%;
    max-width: 560px;

    gap: 24px;

    .containerButton {
      display: flex;
      gap: 24px
    }
  }
}