.headerContainer {
  width: 100%;
  height: 56px;

  padding: 16px 16px 0 32px;
  margin-bottom: 40px;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuNav {
  color: var(--white);

  ul {
    display: flex;
    align-items: center;

    gap: 48px;

    li {
      display: flex;
      align-items: center;
      gap: 8px;

      list-style: none;

      p { font-size: 1rem; }

      p span {
        color: var(--yellow-900);
        font-weight: bold;
        margin-right: 8px;
      }

      a {
        font-size: 1.625rem;
        text-underline-offset: 8px;
      }

      a:hover {
        color: var(--yellow-900);

        text-decoration: underline;
      }

      a, button { transition: .3s ease; }

      button {
        background: transparent;
        padding: 16px;
      }

      button:hover {
        transform: scale(1.2);

        svg {
          stroke: var(--yellow-900);
        }
      }
    }
  }
}