.contrainerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  padding: 32px;
  gap: 24px;
}

.login {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 400px;

  gap: 24px;

  h1 {
    color: var(--white);

    font-size: 2rem;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;

    gap: 24px;
  }
}

.text {
  color: var(--yellow-900);

  font-size: 1.375rem;
  text-align: center;

  cursor: pointer;
}